@media (max-width: 768px) {
  .nav {
    display: none;
  }
  .header {
    display: flex;
    justify-content: flex-end;
  }
}
@media (min-width: 768px) {
  .berger {
    display: none;
  }
  
  html {
    font-size: 62.5%;
  }
  .app-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
  }
  .menu-container {
    display: grid;
    position: sticky;
    top: 5px;
    background-color: black;
    
    grid-template: 12fr / 1fr 11fr;
    grid-template-areas: 'logo nav';
  }
  .logo {
    grid-area: logo;
    background-color: black;
    font-size: 2.5rem;
    color: whitesmoke;
  }
  .nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    color: bisque;
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: 400;
    grid-area: nav;
  }
  .logo-cont {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header {
    background-color: rgb(251, 245, 249);
    grid-area: header;
  }

  .content {
    background-color: rgb(241, 235, 232);
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-area: content;
    grid-template-areas: 'intro-name pic';
    height: 100vh;
  }
  .intro-name {
    background-color: rgb(248, 241, 245);
    grid-area: intro-name;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pic {
    background-color: rgb(248, 241, 245);
    grid-area: pic;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: yellow;
    box-sizing: border-box;
  }
  .img-1 {
    width: 50%;
    height: 50%;
  }
  .content-2 {
    display: grid;
    grid-template: 4fr / 4fr;
    grid-template-areas: 'img-2';
  }
  .img-2 {
    grid-area: img-2;
    object-fit: cover;
    width: 100%;
  }
  .intro-p {
    font-size: xx-large;
    font-style: bold;
    font-weight: 600;
  }
  .intro-stack {
    font-size: x-large;
    font-weight: 400;
    font-style: normal;
    color: rgb(153, 142, 129);
  }
  .cont-about {
    display: grid;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    grid-template: 12fr / 2fr 10fr;
    grid-template-areas: 'para1-intro para2-intro';
  }
  .para1-intro {
    font-size: 2.5rem;
    grid-area: 'para1-intro';
  }
  .para2-intro {
    font-size: 2.5rem;
    grid-area: 'para2-intro';
  }

  .about1-flex {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
  }
  .about2-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about1-flex > p {
    color: white;
    font-weight: 600;
  }
  .about2-flex > p {
    color: #fff;
    font-weight: 100;
    font-style: normal;
    font-size: 1.9rem;
    line-height: 1.8em;
  }
  .wrapper-skill {
    padding-top: 50px;
    height: 100vh;
    display: grid;
    grid-template: 12fr / 4fr 8fr;
    grid-template-areas: 'tech-col cont-skill';
  }
  .tech-col {
    grid-area: tech-col;
    font-size: 3rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
  }
  .cont-skill {
    display: grid;
    background-color: ghostwhite;
    grid-template: 2 / 1;
    grid-area: cont-skill;
    grid-template-areas: 'img1-skill' 'img2-skill';
  }
  .img1-skill {
    grid-area: img1-skill;
  }
  .img2-skill {
    grid-area: img2-skill;
  }
  .skill1-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }
  .skill2-flex {
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 100%;
  }
  .wrapper-soft {
    display: grid;
    font-size: 1.8rem;
    font-weight: 200;
    height: 90vh;
    margin-top: 30px;
    grid-template: 12fr / 3fr 9fr;
    grid-template-areas: 'soft1-grid soft2-grid';
  }
  .div-scroll {
    padding: 20px;
  }
  .soft1-grid {
    grid-area: soft1-grid;
    font-size: 3rem;
    font-weight: 600;
  }
  .soft2-grid {
    grid-area: soft2-grid;
    overflow-y: scroll;
  }
  .soft-flex {
    display: flex;
    justify-content: center;
  }
  .edu-wrapper, .exper-wraper {
  margin-top: 10px;
    height: 100vh;
  }
  .edu-flex, .exper-flex {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .cir-row {
    font-size: 3rem;
    font-weight: 600;
  }
  .education {
	
    display: grid;
    grid-template-columns: 1fr 7fr 2fr 7fr 1fr;
    grid-template-areas: 'cir1-col cir2-col cir3-col cir4-col cir5-col';
  }
  .img-edu1,
  .img-edu4, .img-exper4 {
    margin-top: 10px;
  }
  .cir1-col {
    grid-area: cir1-col;
  }
  .cir1-date, .cir3-date, .cir5-date, .exper1-date, .exper3-date, .exper5-date, .exper7-date{
	  font-size: 1.3rem;
  }
  .cir1-col,
  .cir3-col,
  .cir5-col, .exper1-col, .exper3-col, .exper5-col, .exper7-col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cir3-col {
    grid-area: cir3-col;
  }
  .cir1-shape, .cir5-shape, .exper1-shape, .exper7-shape {
    margin-top: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #25ccf7;
  }
  .cir2-col{
    grid-area: cir2-col;
    margin-top: 30px;
  }
  .cir2-icon, .exper2-icon, .exper6-icon {
    border-top: 1px solid #25ccf7;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.7rem;
    font-weight: 50;
    font-family: 'Roboto', sans-serif;
  }
  .cir3-shape, .exper3-shape, .exper5-shape {
    margin-top: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #25ccf7;
  }

  .cir4-col {
    grid-area: cir4-col;
    margin-top: 30px;
  }
  .cir4-icon, .exper4-icon {
    border-top: 1px solid #25ccf7;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.7rem;
    font-weight: 50;
    font-family: 'Roboto', sans-serif;
  }
  .cir4-shape, .exper4-shape {
    margin-top: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #25ccf7;
  }

  .cir5-col {
    grid-area: cir5-col;
  }
  .exper {
    display: grid;
    grid-template-columns:1fr 4fr 2fr 4fr 2fr 4fr 1fr;
    grid-template-areas: "exper1-col exper2-col exper3-col exper4-col exper5-col exper6-col exper7-col";
  }
  .exper1-col {
    grid-area: exper1-col;
  }
  .exper2-col {
    grid-area: exper2-col;
    margin-top: 30px;
  }
  .exper3-col {
    grid-area: exper3-col;
  }
  .exper4-col {
    grid-area: exper4-col;
    margin-top: 30px;
  }
  .exper5-col {
    grid-area: exper5-col;
  }
  .exper6-col {
    grid-area: exper6-col;
    margin-top: 30px;
  }
  .exper7-col {
    grid-area: exper7-col;
  }
  
  .pro-container {
    grid-area: pro-container;
  }
  .header-flex {
    display: flex;
    justify-content: center;
  }
  .pro-header {
    font-size: 2.8rem;
    text-align: center;
  }
  .pro-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pro-title, .pro-content, .pro-link {
    text-align: center;
  }








}
